#logoRow{
    background: var(--primary, #1A415D);
}

#navRow1{
    background: var(--light, #DCE5EC);
}

#Date{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.color{
    background: var(--primary, #1A415D);
}

#btnGroup1 .active, #Nav1 .active{
    color: var(--light, #DCE5EC);
    background: var(--primary, #1A415D);
}

#Nav1 .nav-item .nav-link{
    border-radius: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
#first{
    border-top-left-radius: 4px !important;
}
#last{
    border-top-right-radius: 4px !important;
}

#Tag1, #Tag2{
    width: 120px;
    height: 55px;
}

#btnGroup2 .active{
    border-bottom: 2px solid var(--primary, #1A415D);
}

.underline{
    border-bottom: 2px solid var(--primary, #1A415D);
}

#btnGroup1 li, #btnGroup2 li{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    height: 50px;
    padding: 9px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


*{
    color: var(--primary, #1A415D);
    font-family: Open Sans;
    font-style: normal;
    line-height: normal;
}

#newsBlock1 header{
    font-size: 20px;
    font-weight: 500;
}

#newsBlock1 p{
    font-size: 15px;
    font-weight: 300;
}

#newsBlock2 header{
    font-size: 14px;
    font-weight: 500;
}

#newsBlock2 p{
    font-size: 12px;
    font-weight: 300;
}

#cardBlock header, #cardBlock2 header, #cardBlock3 header, #cardBlock4 header{
    font-size: 16px;
    font-weight: 500;
}

#cardBlock p, #cardBlock2 p, #cardBlock3 p, #cardBlock4 p{
    font-size: 14px;
    font-weight: 300;
}

.border{
    border-color: var(--primary, #1A415D) !important;
}

footer{
    background: var(--primary, #1A415D);
    font-size: 18px;
    font-weight: 400;
}

footer p, footer li, footer a{
    color: var(--light, #DCE5EC);
}

.sm-img{
    width: 140px;
    height: 120px;
    flex-shrink: 0;
}
.md-img{
    width: 335px;
    height: 266px;
    flex-shrink: 0;
}

.lg-img{
    width: 862px;
    height: 480px;
    flex-shrink: 0;
}
